<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<!-- ctrl d para seleccionar varias veces -->
<dom-module id="mi-visor">
  <template>
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <style>
      :host { 
        display: block;
      }
    </style>
   <div class="container col-lg-8 col-xs-12">
      <div class="row">
        <img width="100px" src="https://img.freepik.com/vector-gratis/conjunto-iconos-redes-sociales-abstractos_1055-5053.jpg?size=338&ext=jpg">
      </div>
      <div class="row col-lg-2 col-xs-12">
        <button class="btn btn-success " type="button" name="button" on-click="incrementar">Button</button>
        Bidireccional<input type="text" placeholder="[[prop3]]" value="{{prop1::input}}">
        Unidireccional<input type="text" placeholder="[[prop3]]" value="[[prop1]]">
      </div>
      <div class="row col-lg-12 col-xs-12">
        <table class="table table-striped ">
          <thead>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellido</th>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Selena</td>
              <td>Mora</td>
            </tr>
            <tr>
              <td>[[prop2]]</td>
              <td>Luna</td>
              <td>Martinez</td>
            </tr>
            <tr>
              <td>3</td>
              <td>Elena</td>
              <td>Juarez</td>
            </tr>
          </tbody>
        </table>
      </div>
   </div>   
    
  </template>

  <script>
    /** @customElement     * @polymer     */
    class MiVisor extends Polymer.Element {
      static get is() { return 'mi-visor'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'mi-visor'
          },
          prop2:{
            type: Number,
            value: 999
          },
          
        };
      }
      incrementar(){
        this.prop2 = this.prop2 + 1;
        console.log('prop1: ', prop1);
        console.log('prop2: ', prop2);
        
        
      }
    }

    window.customElements.define(MiVisor.is, MiVisor);
  </script>
</dom-module>
